streamlit
PyMuPDF
chromadb
sentence-transformers
uuid
ollama
openai
groq
python-dotenv
beautifulsoup4
lxml
wikipedia
anthropic
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
playwright